<div class="container">
  
  <div class="download-bar">
    <mat-checkbox
      [checked]="allChecked"
      [indeterminate]="someChecked()"
      (change)="setAll($event.checked)"
    ></mat-checkbox>
    <span *ngIf="countChecked() > 0">
       Selected {{countChecked()}}
    </span>
        <span *ngIf="countChecked() === 0">
       None Selected
    </span>
    
    <button (click)="onDownload()">
      <span class="material-icons"> download </span> Download Selected
    </button>
  </div>
  <table class="content-table">
    <thead>
      <th><!--checkbox column --></th>
      <th>Name</th>
      <th>Device</th>
      <th>Path</th>
      <th>Status</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableData; let i = index">
        <td>
          <mat-checkbox
            [(ngModel)]="item.isChecked"
            (ngModelChange)="updateAllChecked()"
          ></mat-checkbox>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.device }}</td>
        <td>{{ item.path }}</td>
        <td>{{ item.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
