.content-table {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 0.9em;
  margin: 25px 0;
  min-width: 400px;
  overflow: hidden;

  thead {
    tr {
      background-color: #009879;
      color: #ffffff;
      font-weight: bold;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
      &.active-row {
        color: #009879;
        font-weight: bold;
      }
    }
  }
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}
 
.container {
  display: grid;
  height: 100vh;
  place-content: center;
}

.selected-rows {
  padding-left: 1rem;
  padding-right: 3rem;
  font-size: 1rem;
}

.row:hover {
  background-color: #ccc;
}

// .circle {
//   border-radius: 50%;
//   width: 10px;
//   height: 10px;
//   /* color: red; */
//   background-color: red;
// }
.download-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.download-btn {
  background-color: #fff;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}